<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Events')">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<!--	<nav th:replace="fragments/navbar :: navbar" />-->

	<div class="container">
		<h2>Here are all the events:</h2>

		<div th:each="event : ${events}">
			<h3 th:text="${event.title}">Title</h3>
			<p th:text="${event.description}">Description</p>
			<form th:action="${event.link}" th:method="GET" th:target="_blank">
				<button type="submit">Facebook</button>
			</form>
		</div>
	</div>
</body>
</html>